<h1>Gerenciador de Cadastros</h1>

<a href="https://localhost/_teste%20abakus/?pagina=admin&metodo=create">Novo Cadastro</a><br><br>
<hr>
<br><table border="2">
    <tr>
        <th>ID</th>
        <th>NOME</th>
        <th>ATUALIZAR</th>
        <th>DELETAR</th>
    </tr>
    {% for cadastro in cadastros %}
    <tr>
        <th>{{cadastro.id}}</th>
        <th>{{cadastro.nome}}</th>
        <th><a href="https://localhost/_teste%20abakus/?pagina=admin&metodo=atualizar&id={{cadastro.id}}">ATUALIZAR</a></th>
        <th><a href="https://localhost/_teste%20abakus/?pagina=admin&metodo=confirm&id={{cadastro.id}}">DELETAR</a></th>
    </tr>
    {% endfor %}
</table>